In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [4]:
# Set visualization style
sns.set_theme(style="whitegrid")

# Load data
data = pd.read_csv("../data/used_cars.csv")

# View first 5 rows
data.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [6]:
# Check for missing values
data.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [21]:
# Most common fuel_type
fuel_type_mode = data["fuel_type"].mode()[0]
print(fuel_type_mode)

Gasoline

In [22]:
# The count of cars with the fuel_type gasoline 
gasoline_count = data[data["fuel_type"] == "Gasoline"].shape[0]
print(gasoline_count)

3309

In [23]:
# Replace the null values in fuel_type column with the most common fuel_type found above
data["fuel_type"].fillna(fuel_type_mode, inplace=True)

In [29]:
# Verify that there are no null values for the fuel_type column
fuel_type_null_count = data["fuel_type"].isnull().sum()
print(fuel_type_null_count)

0

In [32]:
# Replace the null values in accident column with unknown
data['accident'] = data['accident'].fillna("Unknown")

In [33]:
# Verify that there are no null values for the accident column
accident_null_count = data["accident"].isnull().sum()
print(accident_null_count)

0

In [35]:
# Replace null values in clean_title column with unknown
data["clean_title"] = data["clean_title"].fillna("Unknown")

In [36]:
# Verify that there are no null values for the clean_title column
clean_count_null_count = data["clean_title"].isnull().sum()
print(clean_count_null_count)

0

In [37]:
# Check that there are no null values in the dataset 
data.isnull().sum()

brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64